<!-- @name:Cartes produits -->
<!-- @description:Présentation par défaut des produits dans les pages d'archives -->
<!-- wp:group {"style":{"border":{"color":"#dcdcdc","width":"1px","radius":"20px"},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"dimensions":{"minHeight":"100%"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#dcdcdc;border-width:1px;border-radius:20px;min-height:100%;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image {"aspectRatio":"1","style":{"border":{"radius":{"topLeft":"20px","topRight":"20px","bottomLeft":"0px","bottomRight":"0px"},"width":"0px","style":"none"}}} /-->

  <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|10","left":"var:preset|spacing|10","top":"var:preset|spacing|10","bottom":"var:preset|spacing|10"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--10);padding-right:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10);padding-left:var(--wp--preset--spacing--10)"><!-- wp:post-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"large","fontFamily":"system-sans-serif"} /-->
  
  <!-- wp:wpboutik/product-price {"style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10","left":"0","right":"0"},"margin":{"right":"0","left":"0","top":"0","bottom":"0"}},"border":{"radius":"0px","width":"0px","style":"none"}},"fontSize":"large"} /-->
  
  <!-- wp:wpboutik/description-courte {"fontSize":"small"} /-->
  
  <!-- wp:wpboutik/add-to-cart /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->