.widget_wpboutik_widget_search_product {
    padding: 20px 0;
}
.widget_wpb_new_products ul,
.widget_widget_produits_mis_en_avant ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_wpb_new_products .text-indigo-600,
.widget_widget_produits_mis_en_avant .text-indigo-600 {
    color: #4F46E5;
}

.widget_wpb_new_products .mb-2\.5,
.widget_widget_produits_mis_en_avant .mb-2\.5 {
    margin-bottom: 0.625rem; /* 10px */
}

.widget_wpb_new_products .mt-5,
.widget_widget_produits_mis_en_avant .mt-5 {
    margin-top: 1.25rem; /* 20px */
}

.widget_wpb_new_products .mb-10,
.widget_widget_produits_mis_en_avant .mb-10 {
    margin-bottom: 2.5rem; /* 40px */
}

.widget_wpb_new_products .p-1,
.widget_widget_produits_mis_en_avant .p-1 {
    padding: 0.25rem; /* 4px */
}

.widget_wpb_new_products .border-solid,
.widget_widget_produits_mis_en_avant .border-solid {
    border-style: solid;
}

.widget_wpb_new_products .border,
.widget_widget_produits_mis_en_avant .border {
    border-width: 1px;
}

.widget_wpb_new_products .border-gray-200,
.widget_widget_produits_mis_en_avant .border-gray-200 {
    border-color: #efefef;
}

.widget_wpb_new_products .clear-both::after,
.widget_widget_produits_mis_en_avant .clear-both::after {
    content: "";
    display: table;
    clear: both;
}

.widget_wpb_new_products .px-1\.5,
.widget_widget_produits_mis_en_avant .px-1\.5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.widget_wpb_new_products .float-left,
.widget_widget_produits_mis_en_avant .float-left {
    float: left;
}

.widget_wpb_new_products .w-14,
.widget_widget_produits_mis_en_avant .w-14 {
    width: 14rem;
}

.widget_wpb_new_products .h-auto,
.widget_widget_produits_mis_en_avant .h-auto {
    height: auto;
}

.widget_wpb_new_products .shadow-none,
.widget_widget_produits_mis_en_avant .shadow-none {
    box-shadow: none;
}

.widget_wpb_new_products .text-xl,
.widget_widget_produits_mis_en_avant .text-xl {
    font-size: 1.25rem;
}

.widget_wpb_new_products .font-medium,
.widget_widget_produits_mis_en_avant .font-medium {
    font-weight: 500;
}

.widget_wpb_new_products .text-gray-900,
.widget_widget_produits_mis_en_avant .text-gray-900 {
    color: #1a202c;
}

.widget_wpb_new_products .line-through,
.widget_widget_produits_mis_en_avant .line-through {
    text-decoration: line-through;
}

 .widget_wpboutik_widget_price_filter .price_slider {
     margin-bottom: 1em
 }

.widget_wpboutik_widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4;
    font-size: .8751em
}

.widget_wpboutik_widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
    float: left;
    font-weight: 400;
    line-height: 1.2;
    text-transform: none;
    border-radius: 4px;
    padding: 6px 12px;
}

.widget_wpboutik_widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em
}

.widget_wpboutik_widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    cursor: ew-resize;
    outline: 0;
    top: -.3em;
    margin-left: -.5em
}

.widget_wpboutik_widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}

.widget_wpboutik_widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    border: 0
}

.widget_wpboutik_widget_price_filter .ui-slider-horizontal {
    height: .5em
}

.widget_wpboutik_widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}

.widget_wpboutik_widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px
}

.widget_wpboutik_widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px
}


.menu-item-search-product {
    position:relative;
}
    .search_product_box input#wpb-product-search {
        border: solid 1px #727272;
        border-radius: 0;
        background-color: #fff;
        -webkit-appearance: auto;
        appearance: auto;
    }
    .search_product_box input#wpb-product-search::-webkit-search-cancel-button, .search_product_box input#wpb-product-search::-webkit-search-decoration {
        -webkit-appearance: auto;
        appearance: auto;
    }
    .search_product_box .empty-search-product-response {
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        padding: .5em;
        color: #727272;
    }
    .search_product_box .search-product-btn {
        display:inline-block;
        padding: 5px 15px;
        font-size: .7em;
        background-color: var(--backgroundcolor);
        color: #fff !important;
    }
    .search_product_box .search-product-btn:hover {
        background-color: var(--hovercolor);
    }
    .search_product_box .wpb-excerpt {
        color: #000000 !important;
    }
    .search_product_box:not(.visible-input) {
        position:absolute;
        z-index: 999;
        top: 0;
        right: 0;
        transition: transform .4s, opacity .4s;
        transform: translateY(-110%);
        opacity: 0;
        pointer-events: none;
    }
    .search_product_box {
        display:grid;
        grid-template-columns: 1fr auto;
        background-color: #fff;
        max-height: 80vh;
        z-index: 999;
    }
    .search_product_box:not(.visible-input).visible {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
        .search_product_box .close_search_product {
            display:flex;
            justify-content: center;
            align-items: center;
            padding-inline: 1em;
            cursor: pointer;
            height: 100%;
            border: solid 1px #727272;
            border-inline-start: solid 0px transparent;
        }
        .search_product_box .wpb-search-results:empty {
            display:none;
        }
        .search_product_box .wpb-search-results {
            grid-column: 1 / span 2;
            background-color: #fff;
            max-height: 60vh;
            height: fit-content;
            box-shadow: 0 10px 20px rgba(0,0,0,.4);
            position:relative;
            display:flex;
            flex-direction: column;
        }
            .search_product_box .wpb-search-results .search-products-results-list {
                overflow-y: auto;
            }
            .search_product_box .wpb-search-results .search-products-results-list::-webkit-scrollbar {
                pointer-events: none;
                width: 0;
            }
            
            .wpb-search-results .search-result{
                display:grid;
                align-items: center;
                grid-template-columns: 1fr 5fr;
                padding: .5rem;
                transition: background-color .3s;
                position:relative;
            }
            .search-product-details .product-title a,
            .search-result .product-title a{
                width: fit-content;
            }
            .search-product-details .product-title a:after,
            .search-result .product-title a:after{
                content: '';
                position:absolute;
                inset: 0;
                z-index: 1;
            }
            .wpb-search-results .search-result:hover{
                background-color: #efefef;
            }
            .wpb-search-results .search-result:not(:last-child){
                border-bottom: solid 1px #b3b3b3;
            }
                .wpb-search-results .search-result .product-image{
                    aspect-ratio: 1/1;
                    background-color: #b3b3b3;
                    display:flex;
                }
                    .wpb-search-results .search-result img{
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                .wpb-search-results .search-result .product-info{
                    text-align: left;
                    padding-left: 1em;
                }
                    .wpb-search-results .search-result .product-header {
                        display:flex;
                        justify-content: space-between;
                        gap: 1rem;
                    }
                        .wpb-search-results .product-header p {
                            white-space: nowrap;
                        }
                        .wpb-search-results .product-header span {
                            display:block;
                        }
                    .wpb-search-results .search-result .product-title {
                        margin-bottom: 1rem;
                        font-size: 1.2em;
                        font-weight: bold;
                    }
        .search_product_box .wpb-search-results .search-product-details {
            display:none;
        }

        .search-product-more {
            display:block;
            width: 100%;
            padding: 10px;
            text-align:center;
            line-height: 1.5em;
            background-color: #fff;
            border-top: solid 1px #727272;
        }
        .search-product-more span {
            display:block;
            margin-top: .7rem;
            font-size: .7rem;
        }
@media (min-width: 750px) {
    .search_product_link.only-mobile {
        display:none;
    }
    .search_product_box.visible-input input {
        flex: 1;
    }
    .search_product_box.visible-input {
        display: flex;
        position:relative;
        height: 3rem;
        z-index: 2;
        width: 100%;
    }

    .search_product_box.visible-input .wpb-search-results {
        position:absolute;
        right: 0;
        top: 100%;
        min-width: min(350px, 90vw);
    }
    .search_product_box .wpb-search-results .search-product-details {
        position:absolute;
        z-index: -1;
        top: 0;
        left: var(--wpb-search-add-to-cart-left);
        right: var(--wpb-search-add-to-cart-right);
        background-color: #fff;
        display:flex;
        flex-direction: column;
        align-items: stretch;
        gap: .7em;
        opacity:0;
        pointer-events: none;
        transition: transform .4s, opacity .4s;
        padding: 20px;
        text-align:left;
        min-height: 100%;
        max-width: 300px;
    }
        .search_product_box .wpb-search-results .search-product-details .product-title{
            font-size: 1.5em;
        }
        .search_product_box .wpb-search-results .wpb-product-image {
            padding: 10px;
        }
        .search_product_box .wpb-search-results .search-product-details .search-product-btn{
            font-size: 1em;
            text-align:center;
            position:relative;
            z-index: 2;
        }
            @keyframes spinsearch {
                to {
                    transform: rotate(360deg);
                }                
            }
            .search-product-details .search-product-btn .animate-spin{
                height: 1.25rem;
                width: 1.25rem;
                animation: spinsearch 1s linear infinite !important;
                position:relative;
                display:inline-block;
            }
    .search_product_box .wpb-search-results .search-product-details.focus, 
    .search_product_box .wpb-search-results .search-product-details:hover {
        opacity:1;
        pointer-events: all;
        transform:translateX(var(--wpb-search-add-to-cart-hover));
        box-shadow: 0 10px 20px rgba(0,0,0,.4);
    }
}
@media (max-width: 750px) {
    /* .wpb-productcart {
        flex-direction: column;
    } */
    .wpb-productcart-item-actions .wpb-field .wpb-qty-cart {
        margin-left: 0;
        margin-right: auto;
    }
    .wpb-productcart-item {
        flex-direction: column;
    }


    .menu-item-search-product .search_product_box {
        position:fixed;
        top: 5vh;
        right: 5vw;
        width: 90vw !important;
        height: 90vh !important;
        transform: translateY(0) translateX(110%);
        max-height: 90vh;
        box-shadow: 0 10px 20px rgba(0,0,0,.4);
        grid-template-rows: auto 1fr;
    }
    .menu-item-search-product .search_product_box.visible {
        transform: translateY(0) translateX(0);
    }

    .search_product_box .wpb-search-results {
        max-height: 100%;
        height: 100%;
        box-shadow: none;
    }
}

.WPBpanierDropdown.hidden {
    transform: translateY(120%);
    opacity: 0;
}
.WPBpanierDropdown {
    transform: translateY(0);
    transition: transform .4s, opacity .4s;
    position:fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    height: 100%;
    width: fit-content;
    max-width: 80vw;
    background-color: #fff !important;
    box-shadow: 10px 0 20px rgba(0,0,0,.4);
    display:flex;
    gap: 1em;
    flex-direction: column;
}
.WPBpanierDropdown.hidden + .WPBpanierDropdown-overlay {
    opacity: 0;
    pointer-events: none;
}
.WPBpanierDropdown-overlay {
    position:fixed;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(10px);
    inset: 0;
    z-index: 9999998;
    transition: opacity .4s;
    cursor: pointer;
}
.WPBpanierDropdown > * {
    padding: 2em 1em;
}
.WPBpanierDropdown > *:not(:last-child) {
    border-bottom: solid 1px #efefef;
}
.minicart-content {
    flex: 1;
    overflow-y: auto;
}
    .minicart-subcart {
        position:initial !important;
        float: none !important;
        display:flex !important;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .wpb-productcart {
        display:flex !important;
        align-items: flex-start;
        gap: 1em;
        padding-block: 1rem;
    }
        .wpb-productcart-item {
            display:flex;
            justify-content: space-between;
            flex: 1;
            gap: 1rem;
        }
        .wpb-productcart-item-details, .wpb-productcart-item-actions {
            display: flex;
            flex-direction: column;
            gap: .7rem;
        }
    .minicart-product-image {
        aspect-ratio: 1/1;
        width: 150px;
        background-color: #efefef;
        overflow: hidden;
    }
        .minicart-product-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .minicart-product-details {
        flex: 1;
        display:flex;
        flex-direction: column;
        gap: .75em;
        justify-content: space-between;
    }
    .minicart-product-details h3 {
        font-size: .8em;
        margin-top: 0;
        margin-bottom: 0;
        flex: 1;
        text-align: left;
    }
        .minicart-product-details h3 a:hover {
            color: var(--hovercolor);
        }
        .minicart-product-details .minicart-product-price {
            font-weight: bold;
            font-size: 1em;
            color: var(--wpb-price-color) !important;
        }
    .minicart-product-header {
        display:flex;
        flex-wrap: wrap;
        gap: 1em;
        padding-bottom: 1em;
        justify-content: space-between;
    }
    .minicart-product-details .changeqty {
        appearance: none;
        border:none;
        display:block; 
        color: #1a202c;
        max-width: 100%;
        border-radius: 10px; 
        padding: .75rem; 
        line-height: 1.25rem;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    }
    .minicart-product-details .changeqty:focus {
        border: solid 1px var(--backgroundcolor);
        outline:none; 
    }
    .minicart-product-details .wpboutik_single_remove_to_cart_button {
        padding: .5em 1rem;
        background-color: transparent;
        font-size: .8rem; 
        color: var(--backgroundcolor);
        border-color: var(--backgroundcolor);
        align-self: flex-end;        
    }
    .minicart-product-details .wpboutik_single_remove_to_cart_button:focus {
        color:var(--hovercolor);
        border-color:var(--hovercolor);
    }

    .minicart-footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
    }
        .minicart-footer .minicart-total {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            font-size: 1rem;
            color: #000000 !important;
        }
        .minicart-footer .minicart-total span {
            color: #000000 !important;
        }
            .minicart-footer .minicart-total .ordertotal_mini{
                font-weight: bolder;
            }
